body { 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/**/

body#index {
    background-color: rgb(219, 255, 234);
}
body#noun {
    background-color: rgb(219, 219, 255);
}
body#changelog {
    background-color: rgb(255, 253, 219);
}

/**/

section {
    height: 55vh;
    display: grid;
    place-items: center;
}
body#index > section {
    height: 50vh;
}
.clickable {
    cursor: pointer;
}