body { 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/**/

body#index {
    background-color: rgb(219, 255, 234);
}

/**/
body#noun {
    background-color: rgb(219, 219, 255);
}

th, td {
    border: 1px solid;
}
div#noun-table {
    position: absolute;
    top: 20%;
    left: 7%;
    background-color: rgb(200, 200, 254);
    padding: 15px;
    border-radius: 15px;
    border: 5px solid rgb(184, 184, 245);
    opacity: 0%;
}
td {
    width: 60px;
}
p#ref {
    position: absolute;
    bottom: 5%;
    left: 44%;
}

/**/
body#pronoun {
    background-color: rgb(255, 248, 219);
}

/**/
body#changelog {
    background-color: rgb(255, 253, 219);
}

/**/
body#adjectives {
    background-color: rgb(255, 219, 234);
}

/**/

section {
    height: 55vh;
    display: grid;
    place-items: center;
}
body#index > section {
    height: 50vh;
}
.clickable {
    cursor: pointer;
}